<a href="https://colab.research.google.com/github/karema9/pandas-workout-remastered/blob/main/TDI_data_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Madison - Wisconsin City Trees Analysis

In [34]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [47]:
df = pd.read_csv("Street_Trees.csv")

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76893 entries, 0 to 76892
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   X           76893 non-null  float64
 1   Y           76893 non-null  float64
 2   OBJECTID    76893 non-null  int64
 3   INSPECT_DT  76893 non-null  object
 4   NOTES       76893 non-null  object
 5   INV_DATE    76893 non-null  object
 6   UNIQUEID    76893 non-null  object
 7   SPP_COM     76893 non-null  object
 8   SPP_BOT     76893 non-null  object
 9   GSSIZE      76891 non-null  object
 10  DIAMETER    76893 non-null  float64
 11  STATUS      76893 non-null  object
 12  TREEGUARD   76893 non-null  object
 13  GRATE_SPP   0 non-null      float64
dtypes: float64(4), int64(1), object(9)
memory usage: 8.2+ MB

How many rows are in the dataset?

In [4]:
df.shape[0]

13681

In [5]:
df.columns

Index(['X', 'Y', 'OBJECTID', 'INSPECT_DT', 'NOTES', 'INV_DATE', 'UNIQUEID',
       'SPP_COM', 'SPP_BOT', 'GSSIZE', 'DIAMETER', 'STATUS', 'TREEGUARD',
       'GRATE_SPP'],
      dtype='object')

In [53]:
df.head(5)

,X,Y,OBJECTID,INSPECT_DT,NOTES,INV_DATE,UNIQUEID,SPP_COM,SPP_BOT,GSSIZE,DIAMETER,STATUS,TREEGUARD,GRATE_SPP
0,-89.385608,43.056392,1,2022/03/28 06:00:00+00,,2022/03/28 06:00:00+00,MaEr20220328123551,Honeylocust 'Skyline',Gleditsia triacanthos 'Skyline',6'-7',4.0,Active,,NaN
1,-89.400704,43.054561,2,2022/04/14 06:00:00+00,,2022/04/14 06:00:00+00,AaLe20220414144625,American Basswood,Tilia americana,NaN,-2.0,Active,,NaN
2,-89.400715,43.054586,3,2022/04/21 06:00:00+00,,2022/04/21 06:00:00+00,CrKl20220421085020,American Basswood,Tilia americana,NaN,12.0,Active,,NaN
3,-89.426085,43.069691,4,2022/05/13 06:00:00+00,,2007/08/28 06:00:00+00,Tree_000001,Norway Maple,Acer platanoides,5'-6',22.0,Active,,NaN
4,-89.426276,43.070574,5,2022/05/13 06:00:00+00,,2007/08/28 06:00:00+00,Tree_000011,American Basswood,Tilia americana,5'-6',11.0,Active,,NaN

1.2 What fraction of trees are oak or elm? Elms and oaks are those trees where their Species Common Name, the "SPP_COM" column, contains either "elm" or "oak", ignoring case. Exclude from that analysis those trees that are in column Species Common Name listed as "other, unknown", "various", "stump", " " (white space), and "repl to be determined", once again, ignoring case.

In [55]:

def clean_data(df: pd.DataFrame) -> pd.DataFrame:
  """
  Cleans the unwanted values from the dataframe
  Returns a cleaned dataframe
  """
  # convert column to string, then to lowercase
  df["SPP_COM_str"] = df.SPP_COM.astype(str)

  df["SPP_COM_str"] = df.SPP_COM.str.lower()

  # a mask to filter rows with unwanted values
  mask = ((df.SPP_COM_str != "other") & (df.SPP_COM_str != "unknown") & (df.SPP_COM_str != " ")
  & (df.SPP_COM_str != "various") & (df.SPP_COM_str != "stump") &
        (df.SPP_COM_str != "repl to be determined"))

  # Apply the mask to filter out the unwanted values
  clean_df = df[mask]

  return clean_df


def count_species(df: pd.DataFrame, name : str) -> int:
  """
  Counts the number of species in a columns containing keyword (name)
  Returns total number of species in column
  """
  tree_count = 0
  for species in df.SPP_COM_str:
    if name in species:
      tree_count += 1

  return tree_count

df_filtered = clean_data(df)

print(df_filtered.SPP_COM_str)
# get count of oak and elm trees
oak_trees = count_species(df_filtered, 'oak')
elm_trees = count_species(df_filtered, 'elm')

total = elm_trees + oak_trees

print(total / 76878)

0                     honeylocust 'skyline'
1                         american basswood
2                         american basswood
3                              norway maple
4                         american basswood
                        ...
76888                   kentucky coffeetree
76889                     elm spp. (hybrid)
76890    japanese tree lilac 'ivory pillar'
76891                               bur oak
76892                            apple spp.
Name: SPP_COM_str, Length: 76878, dtype: object
0.07578240849137595

In [ ]:
import pandas as pd
import numpy as np

# Constants for conversions
km_to_miles = 0.621371
km_to_feet = 3280.84

# Radius of the Earth in kilometers
earth_radius_km = 6371.0

# Function to calculate haversine distance between two sets of latitude and longitude
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    distance_km = earth_radius_km * c
    return distance_km

# Filter for Norway Maple and Red Maple trees
norway_maples = df[df['SPP_COM'] == 'Norway Maple']
red_maples = df[df['SPP_COM'] == 'Red Maple']

# Initialize an array to store distances
distances_km = []

# Calculate distances using haversine formula
for norway_maple_row in norway_maples.itertuples():
    for red_maple_row in red_maples.itertuples():
        distance = haversine(norway_maple_row.Y, norway_maple_row.X, red_maple_row.Y, red_maple_row.X)
        distances_km.append(distance)

# Convert distances from kilometers to feet
distances_feet = np.array(distances_km) * km_to_feet

# Reshape the distances array to match the number of Norway Maples
distances_feet = distances_feet.reshape(len(norway_maples), -1)

# Find the minimum distance for each Norway Maple
min_distances_feet = np.min(distances_feet, axis=1)

# Calculate the median distance in feet
median_distance_feet = np.median(min_distances_feet)

# Convert the median distance from feet to miles
median_distance_miles = median_distance_feet / 5280.0  # 1 mile = 5280 feet

# Print the result
print(f"Median Distance from Each Norway Maple to Closest Red Maple: {median_distance_feet:.2f} feet")
print(f"Median Distance from Each Norway Maple to Closest Red Maple: {median_distance_miles:.2f} miles")

How does growth space size vary across tree species? You'll notice the growth space size column, "GSSIZE", is really a range. E.g., "4' - 5'". For entries that are ranges, use the middle point of the lower and upper range, e.g., 4.5 feet for the previous example. If the entry only has a lower range, just use the value of the lower range. Ignore trees where the growth space size entry does not represent a number. For each species, using the Species Common Name, calculate the average growth space size. Report the standard deviation of these averages. Keep the measurement in feet. Exclude species with less than 50 trees from the analysis.

In [14]:
'
# drop null values
df_1 = df[['SPP_COM', 'GSSIZE']].dropna()

# convert GSS column to a string
df_1['GSSize']  = df_1.GSSIZE.astype(str)

# declare non-numerical values used to filter the dataframe
conditions = ((df_1.GSSize != 'Open') & (df_1.GSSize != 'Median') &
(df_1.GSSize != ' ') & (df_1.GSSize != 'Boxout') & (df_1.GSSize != 'Grate')
& (df_1.GSSize != 'No Data') & (df_1.GSSize != 'Ditch'))

# filter the dataframe using the above conditions
df_2 = df_1[conditions]


# calculate the value counts of the common name attribute
value_counts = df_2['SPP_COM'].value_counts()

# minimum value to filter by
min_value = 50

mask = df_2['SPP_COM'].isin(value_counts[value_counts >= min_value].index)

# apply the mask to drop species who's tree count is less than 50
df_3 = df_2[mask]

df_3 = df_3.drop("GSSIZE", axis = 'columns')

"---------------------------------------------------------"

def average_of_value_range(val_str):

    if val_str == "8'+":
      val_str = int(val_str[0].strip(" '"))
      return val_str
    # Split the value range string on the '-' character
    parts = val_str.split('-')

    # Convert the lower and upper bounds to integers
    lower = int(parts[0].strip(" '"))
    upper = int(parts[1].strip(" '"))

    # Calculate the median of the value range
    return (lower + upper) / 2.0


df_3['Averages'] = df_3['GSSize'].apply(average_of_value_range)

std_dev = df_3['Averages'].std()
print(std_dev)'

0.971669345824498

1.5 What fraction of last inspections occur on the 2nd most frequent day of the week?

In [56]:

"""
What frequency of last inspections occur on the 2nd most frequent day of the week
"""



def get_most_frequent_day(df: pd.DataFrame, attribute) -> float:
  """Returns second most frequent day of the week"""


  df[attribute] = pd.to_datetime(df[attribute])

  # extract day from the inspection date
  df['Day'] = df[attribute].dt.day_name()

  # find the frequency of inspection on each day of the week
  frequencies = df['Day'].value_counts()

  return round(2823 / 76893, 3)

get_most_frequent_day(df, 'INSPECT_DT')

0.037

1.6 Is there a trend between tree diameter and tree height? While we don't have tree height in our data set, a second data set has tree height measurements in meters in the column "TreeHt (m)". Using a tree's scientific name (not their common name), calculate the average diameter and height for each tree species. You'll have to do some cleaning of the scientific names, only keep the first two words in the columns of the scientific names. From the average height and diameter for each species, fit a line of best fit. The x
 coordinate should be the diameter and the y
 coordinate should be the height. Report the slope. You can assume the diameter is measured in inches and perform your analysis using inches. Use the fact that there are 39.3701 inches in a meter.